<head>
    <meta charset="utf-8" />
    <title>결제하기</title>
    <!-- 1. 스크립트 추가 -->
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<script>
    var clientKey = 'test_ck_LkKEypNArWJRgnYx7EBlVlmeaxYG' // 테스트용 클라이언트 키
    // 2. 결제창 SDK 초기화
    var tossPayments = TossPayments(clientKey)
    const generateRandomString = () => window.btoa(Math.random()).slice(0, 20);
    /*<!CDATA[*/
    const orderId = `[[${orderId}]]`
    const orderName = `[[${orderName}]]`
    const amount = `[[${amount}]]`
    /*]]>*/
    tossPayments.requestPayment('카드', {
        amount: amount,
        orderId: orderId,
        orderName: orderName,
        customerName: '박토스',
        successUrl: 'http://localhost/success',
        failUrl: 'http://localhost/fail',
    })

    console.log("orderId: " + orderId)
    console.log("orderName: " + orderName)
    console.log("amount: " + amount)
</script>
</body>
